<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>

    {% load static %}

    <link rel="stylesheet" href="{%static 'css/gallery.css'%}">
    
</head>
<body>

<h1>Gallery Page</h1>

 <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, sequi nam? Provident quasi fugit corporis consequatur inventore pariatur, ipsam nisi, blanditiis praesentium ea quod illo dolorem ipsa iste corrupti reprehenderit.
 Numquam dolor consequuntur dolores at sequi? Esse, tempore corporis tempora sint eos excepturi molestias enim quam pariatur illum cumque, perspiciatis nihil dolor, vitae unde sunt aut similique! Accusantium, doloremque rem.</p>
    
 <img src="{% static 'images/offcampus.png' %}" alt="">
 <img src="{% static 'images/prince.png' %}" alt="">
 <img src="{% static 'images/king.png' %}" alt="">
 <img src="{% static 'images/twisted.png' %}" alt="">
 <img src="{% static 'images/devil.png' %}" alt="">


</body>
</html>