<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MtaaniStore - Homepage</title>

    {%load static%}
    
</head>
<body>
    
    <h1>WELCOME TO MTAANISTORE!</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat maxime voluptatibus numquam quia quos a placeat quidem, necessitatibus, dolorum similique nisi quisquam aperiam, esse nemo facilis ea molestias dicta officiis.
    Suscipit, quod, sunt recusandae vero quibusdam expedita iure quam facere commodi, mollitia at fugit unde dicta? Quis facilis, sint alias similique dicta nostrum molestias iure officiis rerum hic beatae dolores!</p>

    <img src="{% static 'images/welcome.png' %}" alt="">



</body>
</html>