<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services Page</title>

 <!--This is linking styles and the statics the statics are images and bootstrap-->
    {% load static %}

    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
    <script> scr="{%static 'bootstrap/js/bootstrap.min.js'%}"</script>


</head>
<body>

    <h1 class="text-center text-danger">Services offered at MtaaniStore</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nobis ipsum quaerat soluta. Id, sequi sint optio numquam inventore minima voluptatibus similique repellat accusamus laboriosam doloribus tempore veritatis beatae eligendi.
    Numquam tempore doloremque hic iusto tenetur quo quaerat autem officiis nesciunt recusandae. Necessitatibus, incidunt in ut natus, ab fugit molestiae maxime accusantium perferendis dolorem harum nihil earum sed, ratione consequatur!
    Exercitationem illum, sapiente praesentium ut repellat ea nulla quis, provident in perspiciatis ex molestias est eveniet tenetur earum illo necessitatibus doloremque laborum quae a maxime eius. Omnis, error? Asperiores, error.</p>
    
    <img src="{% static 'images/devil.png' %}" alt="">

</body>
</html>